@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Set max width for all images */
img {
    max-width: 100%;
}

/* Background gradient */
.wrapper {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
}

/* Container with max width */
.container {
    width: 1480px;
    margin: 0 auto;

}

/* Header Start */
header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: 15px;
}


header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #a02604;
}

/* Header finish */

/* Hero Start */

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    font-weight: 600;
    font-size: 20px;
    color: #E87D0E;
}

.hero--info h1 {
    font-weight: 600;
    font-size: 50px;

}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FA8305;
    padding: 19px 30px;
    border-radius: 50px;
    border: 0;
    transition: all 500ms ease;
    color: #fff;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

/* Games Section */

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 30px;
}

.trending .see-all {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.big-text {

    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    width: 800px;
    text-align: center;
}

.banner {
    padding: 80px 0;

}

.banner h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.banner p {

    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}